* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: calc(100vh - 30px);
  background-image: linear-gradient(
    109.6deg,
    rgba(24, 138, 141, 1) 11.2%,
    rgba(96, 221, 142, 1) 91.1%
  );
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
i {
  font-size: 20px;
}

/* class */
.section {
  width: 400px;
  border: 1px solid #cde7d3;
  border-radius: 7px;
  box-shadow: 7px 7px 20px 0px rgba(150, 144, 150, 1);
  background-color: #cde7d3;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.h1 {
  font-size: 36px;
  font-family: "Zen Dots", cursive;
  font-weight: 200;
  padding: 10px;
  border-bottom: 3px dashed #4b636e;
}
.h1 i {
  font-size: 36px;
}
ul {
  flex-grow: 3;
  height: 500px;
  overflow-y: auto;
}
.item-wrap {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
  padding: 3px;
  background-color: aliceblue;
  border-left: 2px solid #188a8d;
}
.del-btn:hover {
  color: #49c628;
  transform: scale(1.1);
}
.input-wrap {
  margin: 10px 0;
}
.input-text {
  width: 250px;
  height: 30px;
  font-size: 18px;
  outline: none;
}
.input-btn {
  width: auto;
  padding: 2px;
  border-radius: 4px;
  font-weight: 700;
}
.add-btn {
  background-color: #49c628;
}
.reset-btn {
  background-color: #e80505;
}
